@import "tailwindcss";
@import "./app.css";

/* Estilos customizados para scrollbar (para o feed de tarefas) */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1e1e1e; /* Cor da trilha no dark mode */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563; /* Cor do "polegar" */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* Cor do "polegar" ao passar o mouse */
}
